@-webkit-keyframes moveX {
    from { left: 0; } to { left: calc(100% - 200px); }
}
@-moz-keyframes moveX {
    from { left: 0; } to { left: calc(100% - 200px); }
}
@-o-keyframes moveX {
    from { left: 0; } to { left: calc(100% - 200px); }
}
@keyframes moveX {
    from { left: 0; } to { left: calc(100% - 200px); }
}
@-webkit-keyframes moveY {
    from { top: 0; } to { top: calc(100% - 200px); }
}
@-moz-keyframes moveY {
    from { top: 0; } to { top: calc(100% - 200px); }
}
@-o-keyframes moveY {
    from { top: 0; } to { top: calc(100% - 200px); }
}
@keyframes moveY {
    from { top: 0; } to { top: calc(100% - 200px); }
}

@keyframes rotateImage {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes notification {
    0% {
        transform: rotate(0deg);
    }

    33% {
        transform: rotate(30deg);
    }

    66% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(0deg);
    }
}