/*orange FF7800*/
/*blue rgba(2,0,36,1)*/
/*green rgba(11,68,70,1)*/
/*grey 84828A*/

.container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    min-height: 100vh;
    background-size: cover;
}

.blur-effect {
    filter: blur(5px);
}
