.servers__column {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*color: white;*/
    /*padding: 0 20px;*/
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
}

.server-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.servers__table {
    width: 100%;
    margin-top: 30px;
    border-collapse: separate;
    border-spacing: 0 10px;
    overflow-y: scroll;
}

.servers__table tbody td,
.servers__table tbody tr,
.servers__table thead th {
    padding: 20px;
}

.servers__table tbody td,
.servers__table tbody th {
    /*border: 1px solid rgba(2, 0, 36, 0.4);*/
    padding: 14px 8px;
    border-top: 0;
    border-bottom: 0;
}

.servers__table tbody td:first-of-type {
    border-left: 0;
}

.servers__table tbody td:last-of-type {
    border-right: 0;
}

.servers__table tbody:before {
    content: '';
    display: block;
    /*height: 10px;*/
}

.servers__table thead th {
    font-size: 24px;
    /*color: white;*/
    padding: 10px;
    /*color: #FF7800;*/
}

.servers__table tbody tr {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

.random-blob {
    width: 100%;
    height: 100%;
    cursor: default;
}

.servers__table tbody tr td span {
    display: flex;
    justify-content: center;
    height: 100%;
}

.password {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.password span {
    margin-left: 10px;
}

.password img {
    width: 26px;
    cursor: pointer;
}

.password img:hover {
    scale: 1.1;
}

.span__buttons img {
    width: 26px;
    margin: 0 8px;
}

.span__buttons button:hover {
    scale: 1.1;
}

.confirmation-deletion.open {
    position: fixed;
    /*color: black;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background-color: white;*/
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
}

.confirmation-deletion span {
    margin-bottom: 20px;
    font-size: 20px;
}

.confirmation-deletion__btns {
    width: 100%;
    display: flex;
    justify-content: end;
    column-gap: 20px;
}

.confirmation-deletion__btns button {
    border-radius: 30px;
    padding: 6px 20px;
    transition: all .3s ease;
}

.confirmation-deletion {
    display: none;
}

.add-btn,
.log-btn {
    display: flex;
    justify-content: end;
    padding: 30px 20px 0;
}

.log-btn button {
    display: flex;
    align-items: center;
    font-size: 20px;
    column-gap: 6px;
    padding: 4px 8px;
    border-radius: 8px;
}

.add-btn button {
    display: flex;
    align-items: center;
    font-size: 20px;
    border-radius: 8px;
    transition: all .1s linear;
}

.log-btn button:active {
    scale: 1.1;
}

.box {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.box b {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url("/public/border-none-svgrepo-com.svg");
    background-size: 200px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    -webkit-animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate, rotateImage 3.4s infinite;
    -moz-animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate, rotateImage 3.4s infinite;
    -o-animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate, rotateImage 3.4s infinite;
    animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate, rotateImage 3.4s infinite;
}

.title-th {
    position: relative;
}

.btn-title-th {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    border: 3px solid var(--color-text-cocktailTheme-base);
    border-radius: 12px;
}

.img-title-th img {
    transform: rotate(0);
}

.img-title-th img.show {
    transform: rotate(180deg);
}