.sidebar {
    width: 90px;
    background: transparent;
    height: 100%;
    position: fixed;
    padding: 100px 0;
    overflow: scroll;
    z-index: 99;
    transition: width 1s ease;
}

.sidebar.open {
    width: 315px;
}

.sidebar::-webkit-scrollbar {
    width: 0;
}

.sidebar__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.sidebar__title-and-btn {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sidebar__title {
    width: 100%;
    text-align: start;
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
    white-space: nowrap;
    transition: max-width .3s ease;
    overflow: hidden;
}

.sidebar__title-btn {
    font-weight: bold;
    font-size: 20px;
    padding: 6px 12px;
    border-radius: 12px;
    transition: all .3s ease;
}

.sidebar__title-btn:hover {
    border-color: transparent;
}


.sidebar__list {
    width: 100%;
}

.sidebar__list li {
    font-size: 18px;
    font-weight: 500;
    margin: 5px 0;
}

.sidebar__list li button {
    padding: 24px 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    border-radius: 8px;
    transition: all .3s ease;
}

@keyframes hideSidebar {
    0% {
        justify-content: center;
    }

    90% {
        justify-content: start;
    }

    100% {
        justify-content: center;
    }
}

.sidebar__logout img,
.sidebar__list li img {
    margin-right: 10px;
    max-width: 24px;
    transition: all .3s ease;
}

.sidebar__info {
    margin-bottom: 8px;
    margin-top: -38px;
    height: 100%;
    transition: all 3s ease;
}

.sidebar__info img {
    overflow: hidden;
    transition: all .3s ease;
}

.sidebar__logout {
    padding: 24px 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 8px;
    transition: all .3s ease;
}

.sidebar__logout span {
    overflow: hidden;
    transition: all .3s ease;
}

.sidebar__list li button span {
    transition: all .3s ease;
    overflow: hidden;
    white-space: nowrap;
}