/*orange FF7800*/
/*blue rgba(2,0,36,1)*/
/*green rgba(11,68,70,1)*/
/*grey 84828A*/

.authorization__white-container {
    background: var(--background-cocktailTheme-block);
    border: 2px solid;
    border-color: var(--borderColor-cocktailTheme);
    box-shadow: var(--box-shadow-cocktailTheme);
}

.authorization__white-container input {
    background-color: var(--background-cocktailTheme-input);
    color: var(--color-text-cocktailTheme-input);
}

.authorization__white-container button {
    background-color: var(--background-cocktailTheme-btn--orange)
}

.authorization__white-container button:active,
.authorization__white-container button:hover {
    background-color: var(--background-cocktailTheme-btn-hover--orange);
    color: var(--color-text-cocktailTheme-btn--orange);
}