.server-info,
.servers,
.homepage {
    color: black;
}

.servers__list-item__cpu-info {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,68,70,1) 160%);
    border: 2px solid rgba(2,0,36,1);
    color: white;
}

.servers__list-item__disc:hover >.cpu__statistics.open,
.servers__list-item__op:hover >.cpu__statistics.open ,
.servers__list-item__cpu:hover > .cpu__statistics.open  {
    box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
}

.item__info-percent.norm,
.item__info-percent.min {
    color: greenyellow;
}

.item__info-percent.max {
    color: red;
}

.item__info-status.online {
    color: greenyellow;
}

.item__info-status.offline {
    color: red;
}

.cpu__statistics {
    background-color: white;
    border: 4px solid rgba(2,0,36,1);
}

.interval__btn {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,68,70,1) 160%);
    color: white;
}

.interval__btn.active,
.interval__btn:active {
    background: rgba(255, 120, 0, 0.44);
    color: #FF7800;
}

.servers__list-item__title {
    color: white;
}