.servers__list-item__cpu-info {
    background: var(--background-cocktailTheme-block);
    border: 2px solid var(--borderColor-cocktailTheme);
}

.servers__list-item__disc:hover >.cpu__statistics.open,
.servers__list-item__ram:hover >.cpu__statistics.open ,
.servers__list-item__cpu:hover > .cpu__statistics.open  {
    box-shadow: var(--box-shadow-cocktailTheme);
}


.item__info-percent.min {
    color: var(--color-text-cocktailTheme-block-green);
}

.item__info-percent.norm {
    color: yellow;
}

.item__info-percent.max {
    color: var(--color-text-cocktailTheme-block-red);
}

.item__info-status.online {
    color: var(--color-text-cocktailTheme-block-green);
}

.item__info-status.offline {
    color: var(--color-text-cocktailTheme-block-red);
}

.cpu__statistics {
    background-color: white;
    border: 3px solid var(--borderColor-cocktailTheme);
}

.interval__btn {
    background: var(--background-cocktailTheme-block);
}

.interval__btn.active,
.interval__btn:active {
    background: var(--background-cocktailTheme-btn-hover--orange);
    color: var(--color-text-cocktailTheme-btn--orange);
}
