.servers__table tbody td,
.servers__table tbody th {
    border: 1px solid var(--borderColor-cocktailTheme-table);
}

.servers__table tbody tr {
    background-color: var(--background-cocktailTheme-table);
}

.confirmation-deletion.open {
    color: var(--color-text-cocktailTheme-input);
    background-color: var(--background-cocktailTheme-input);
}

.confirmation-deletion__btns button {
    border: 2px solid var(--borderColor-cocktailTheme);
    background: var(--background-cocktailTheme-block);
    color: white;
}

.confirmation-deletion__btns button:hover {
    background: var(--background-cocktailTheme-btn-hover--orange);
    color: var(--color-text-cocktailTheme-btn--orange);
    box-shadow: var(--box-shadow-cocktailTheme);
}

.log-btn button {
    border: 3px solid white;
}

.add-btn button {
    border: 3px solid white;
}

.add-btn button:hover {
    border-color: var(--color-text-cocktailTheme-block-green);
    color: var(--color-text-cocktailTheme-block-green);
}