.info-table tbody tr:focus-within {
    box-shadow: 0 0 8px var(--background-cocktailTheme-btn--orange);
}

.server-edit__btns button {
    border: 3px solid white;
}

.server-edit__cancel {
    background-color: var(--color-text-cocktailTheme-block-red);
}

.server-edit__save {
    background-color: var(--color-text-cocktailTheme-block-green);
}