.server-info {
    color: white;
}

.server-info__white-container {
    background-color: var(--background-cocktailTheme-table);
    border: 1px solid var(--borderColor-cocktailTheme-table);
}

.server-info__title2-and-btns {
    border-bottom: 1px solid var(--borderColor-cocktailTheme-table);
}

.server-info__btns button {
    border: 3px solid white;
}

.server-info__btn-edit:hover {
    background-color: var(--color-text-cocktailTheme-block-green);
}

.server-info__btn-delete:hover {
    background-color: var(--color-text-cocktailTheme-block-red);
}

.server-info__search {
    border-bottom: 1px solid var(--borderColor-cocktailTheme-table);
}

.server-info__search-input {
    border: 3px solid white;
}

.server-info__search-input::placeholder {
    color: var(--color-text-cocktailTheme-base);
}

.server-info__table-container {
    border-bottom: 1px solid var(--borderColor-cocktailTheme-table);
}

.info-table thead tr {
    background-color: var(--background-cocktailTheme-table);
}

.info-table tbody tr th,
.info-table thead tr th {
    border: 1px solid var(--borderColor-cocktailTheme-table);
}